* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: #2DFF24;
}

input[type=radio] {
  width: 25px;
  height: 25px;
}

label {
  font-size: 1.5em;
  margin-left: 1.25em;
}

.jumbotron {
  background-color: #000;
  color: #fff;
}

.btn {
  background-color: #2DFF24;
  color: #fff;
  font-size: 2em;
}

.btn:hover {
  background-color: #2ACA57;
  color: #fff;
}